/* Global reset - ensures consistent margins, padding, list styling, and includes box-sizing for predictable layouts */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'FuturaCyrillicLight';
    src: url('/fonts/FuturaCyrillicLight.ttf') format('truetype');
}

@font-face {
    font-family: 'CrimsonText-SemiBold';
    src: url('/fonts/CrimsonText-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
}

/* Ensure body and html take full viewport height */
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(24,24,24);
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar - full width, centered content, flexbox for layout */
.navbar {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo-image {
    width: 150px; /* Adjust this to control the size of the logo */
    height: auto;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__item {
    margin-left: 40px;
}

.navbar__links {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: 500;
}

/* Hero Section */
.hero {
    width: 100%;
    min-height: 900px; /* Ensure the hero section has a minimum height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.hero__image {
    width: 100%;
    object-fit: cover;
    opacity: .7;
}

.hero__logo {
    position: absolute; /* Position the logo on top of the image */
    width: 400px; /* Adjust the width of the logo */
    height: auto;
    filter: brightness(0) invert(1);
}

.page__title {
    justify-content: center;
    padding: 30px;
    font-family: "CrimsonText-SemiBold", serif;
    font-size: 30px;
    color: white;
    background-color: rgb(24,24,24);
}

.home__intro {
    color: white;
    justify-content: center;
    display: flex;
    border: solid white;
    padding: 30px;
    margin: 26px auto;
    max-width: 97%;
    text-align: center;
}

.intro__content {
    max-width: 40%;
    margin: 0 auto;
}

.intro__title {
    font-size: 2.5rem;
    font-family: "CrimsonText-SemiBold", serif;
    margin-bottom: 20px;
}

.intro__body {
    font-size: 15px;
    font-family: 'OpenSans-Regular', sans-serif;
    margin-bottom: 30px;
}

/* Footer - full width, centered text */
.footer {
    width: 97%;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(24, 24, 24);
    border: solid white;
    text-align: center;
    margin: 0 auto;
}

.footer__container {
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.footer__column {
    width: 30%;
}

.footer__column form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__column input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 5px; /* Reduce the space between the email input and the button */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'OpenSans-Regular', sans-serif;
    outline: none;
}

.footer__column input[type="submit"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    font-family: 'OpenSans-Regular', sans-serif;
    margin-top: 0; /* Remove top margin to bring it closer to the input field */
    cursor: pointer;
}

.location__content, .hours__list {
    margin: 0;
    padding: 0;
}

.location__header, .hours__title, .subscribe__title {
    font-size: 30px;
    font-family: "CrimsonText-SemiBold", serif;
}

.location__address, .hours__list li {
    font-size: 16px;
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 10px;
}

.footer p {
    margin: 20px;
}



.reservation__img {
    position: relative; /* Make this relative so that the text can be absolutely positioned within it */
    display: flex;
    min-height: 900px;
    width: 100%;
    justify-content: center; /* Horizontally center the content */
    align-items: center;     /* Vertically center the content */
}

.reservation__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    filter: brightness(1.5);
}

.reservation__main {
    position: absolute;
    color: white;
    font-size: 55px;
    font-family: 'CrimsonText-SemiBold', serif;
    text-align: center;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-bottom: 20px;
}

.banner p {
    margin: 20px;
}
.card__container{
    display: flex;
}

.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card__content{
    background: #000000c9;
    height: 280px;
    border-radius: 4px;
}
.card__content h3{
    text-align: center;
    color: #ffffff;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form__row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #525252;
    padding: 12px 0;
    border-radius: 4px;
    border-color: #525252;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
